# Default ignored files
/shelf/
/workspace.xml
/C:\Users\Joao_Vieira\PycharmProjects\tracking_e_reconhecimento_de_placa_de_carro\model.weights
/C:\Users\Joao_Vieira\PycharmProjects\tracking_e_reconhecimento_de_placa_de_carro\Thumbs.db
/C:\Users\Joao_Vieira\PycharmProjects\tracking_e_reconhecimento_de_placa_de_carro\fotos\Thumbs.db